<!DOCTYPE html>
<html>
<body>

<title>Talk to Leonardo</title>

<h1>Hi, I'm Leonardo!</h1>
 
<h2>Motor Commands</h2>
<p>
<a href="http://129.64.153.118:5000/robot/cmd?cmd=stop">Stop</a><br />
<a href="http://129.64.153.118:5000/robot/cmd?cmd=go">Go (which is currently just a turn)</a>
</p>

<h2>Sample Sounds</h2>
<p>
<a href="http://129.64.153.118:5000/robot/sound?sound=siren">Siren</a><br />
<a href="http://129.64.153.118:5000/robot/sound?sound=fail">Failure</a><br />
<a href="http://129.64.153.118:5000/robot/sound?sound=success">Success</a>
</p>

<h2>Show Location></h2>
<a href="http://129.64.153.118:5000/robot/location">Latitude-Longitude</a>

<h2>Ask me if I have anything to say!</h2>
<a href="http://129.64.153.118:5000/ats">Please.</a>

</body>
</html>
